.rail {
    background: none;
    width: 150px;
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    // position: relative;
    position: absolute;
    right: 0.5em;
    top: 0.5rem;
    $line-color: black;
    $line-thickness: 10px;

    .rail-segment-straight {
        width: 100%;
        background: none;
        position: relative;

        .hor-stripes {
            width: calc(100% - ($line-thickness * 2));
            left: $line-thickness;
            position: absolute;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;

            hr {
                flex-basis: 100%;
                height: $line-thickness;
                width: 100%;
                background-color: $line-color;
                border: none;
                border-left: 2px solid rgb(109, 108, 108);
                border-right: 2px solid rgb(109, 108, 108);
                z-index: 1;
            }
        }

        .ver-stripe {
            position: absolute;
            height: calc(100% + ($line-thickness * 2));
            width: $line-thickness;
            background-color: $line-color;
            border: none;
            top: calc($line-thickness * -1);
        }

        .ver-stripe:last-of-type {
            left: calc(100% - $line-thickness);
        }
    }
}

.train-wrapper {
    left: 50%;
    top: 0;
    width: 140%;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 2;

    .train {
        width: 100%;
        height: 100%;
    }
}